/*Guias y estilos CSS a usar en la pagina web*/

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    padding: 20px 10px;
    background-color: #fff;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    transition: .5s linear all;
  }

  .card-counter:hover{
    box-shadow: 15px 15px 20px #c2bdbd;
    transition: .3s linear all;
  }

  .card-counter.blue{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.red{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.green{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.yellow{
    background-color: #ffc400;
    color: #FFF;
  }  

  .card-counter.orange{
    background-color: #da6200;
    color: #FFF;
  }  

  .card-counter.pink{
    background-color: #ff006a;
    color: #FFF;
  }  

  .card-counter.purple{
    background-color: #3a0f7e;
    color: #FFF;
  }  

  .card-counter.dark_green{
    background-color: #0f5805;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}